* {
  box-sizing: border-box;
}

/* Color palette */
/* #1A1A1A */
/* #242424 */

.flight-info-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vh;
  max-height: 34%;
  background-color: #242424;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(100%);
  animation: slideUp 0.3s ease-out forwards;
  overflow-y: scroll;
  overflow-x: hidden;
}

.flight-info-popup.closing {
  animation: slideDown 0.3s ease-out forwards;
}

.flight-info-popup.hidden {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.mapboxgl-ctrl {
  display: none !important; /* Sorry Mapbox (Personal use only) */
  z-index: -1000 !important;
}

.flight-info-popup-header {
  background-color: #1A1A1A;
  color: white;
  display: grid;
  height: 11vh;
  overflow: hidden;
  grid-template-columns: 3fr 2fr;
}

.flight-info-popup-header-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  padding-left: 10px;
  margin: 0;
  gap: 5px;
}

.header-text-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#header-text-upper-callsign {
  margin: 0;
  color: orange;
  font-size: 1.2rem;
  font-weight: 600;
}

#header-text-upper-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #242424;
  height: 1.2rem;
  padding: 2px 5px;
  border-radius: 5px;
}

#header-text-upper-flightNumber {
  margin: 0;
  color: white;
  font-size: 0.8rem;
}

#header-text-upper-pill-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #242424;
  height: 1.2rem;
  padding: 2px 5px;
  border-radius: 5px;
}

#header-text-upper-registration {
  margin: 0;
  color: white;
  font-size: 0.8rem;
}

.header-text-lower {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

#header-text-lower-airline {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

#header-text-lower-aircraft {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.flight-info-popup-header-right {
  height: 100%;
  overflow: hidden;

}

.image-container {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

#aircraft-photo {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

.flight-info-popup-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin: 0;
  background-color: #242424;
}

.flight-info-popup-body-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  background-color: #1A1A1A;
  padding: 10px;
  border-radius: 10px;
}

.flight-info-popup-body-top-airports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  gap: 5px;
  margin: 0;
}

.flight-info-popup-body-top-airports img {
  width: 30px;
  height: 30px;
}

.origin-airport {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin: 0;
  width: 40%;
}

#origin-airport-code {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

#origin-airport-city {
  margin: 0;
  font-size: 0.8rem;
}

.destination-airport {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin: 0;
  width: 40%;
}

#destination-airport-code {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

#destination-airport-city {
  margin: 0;
  font-size: 0.8rem;
}

.flight-info-popup-body-top-progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.progress-bar-fill {
  background-color: orange;
  height: 5px;
  border-radius: 5px;
}

.flight-info-popup-body-top-progress-bar img {
  width: 15px;
  height: 15px;
  rotate: 90deg;
}

.progress-bar-empty {
  background-color: grey;
  height: 5px;
  border-radius: 5px;
}

.flight-info-popup-body-top-arrival {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
}

.flight-info-popup-body-top-arrival p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.arrival-status {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.flight-info-popup-body-bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  background-color: #1A1A1A;
  color: orange;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#hidden-button {
  display: none;
}
