* {
  box-sizing: border-box;
}





/* Color palette */
/* #1A1A1A */
/* #242424 */

.flight-info-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vh;
  max-height: 30%;
  background-color: #242424;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(100%);
  animation: slideUp 0.3s ease-out forwards;
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.mapboxgl-ctrl {
  display: none !important; /* Sorry Mapbox (Personal use only) */
  z-index: -1000 !important;
}

.flight-info-popup-header {
  background-color: #1A1A1A;
  color: white;
  display: grid;
  height: 11vh;
  overflow: hidden;
  grid-template-columns: 3fr 2fr;
}

.flight-info-popup-header-left{
  height: 100%;
  overflow: hidden;
  padding: 10px;
  margin: 0;

}

.header-text-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.flight-info-popup-header-right {
  height: 100%;
  overflow: hidden;

}

.image-container {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

#aircraft-photo {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}
